    html {
        box-sizing: border-box;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    
    .header {
        color: $text;
    }
    
    a {
        display: inline-block;
        text-decoration: none;
        color: #fff;
    }
    
    .container {
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    .title {
        font-size: 40px;
        @include f700;
        color: #fff;
        text-align: center;
        &__team {
            color: #3c4761;
        }
        &__skills {
            color: #3c4761;
        }
        &__portfolio {
            color: #3c4761;
        }
    }